<div>Teste?</div>
<div id="app" asp-prerender-module="Renderers/aspNetCoreRenderer"></div>
<script src="~/dist/manifest.js" asp-append-version="true"></script>
<script src="~/dist/main-client.js" asp-append-version="true"></script>
